region-connectors/region-connector-fi-fingrid/src/main/resources/schema/GetCustomerData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="RetrieveCustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Identification" type="xs:string"/>
                            <xs:element name="Creation" type="xs:dateTime"/>
                            <xs:element name="PhysicalSenderParty">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Identification" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="JuridicalSenderParty">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Identification" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PhysicalReceiverParty">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Identification" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="JuridicalReceiverParty">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Identification" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ProcessRole" type="xs:string"/>
                            <xs:element name="DocumentType" type="xs:string"/>
                            <xs:element name="OrganisationUser" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Transaction" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AdditionalIdentification" type="xs:string" minOccurs="0"
                                        maxOccurs="1"/>
                            <xs:element name="CompanyName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="CustomerIdentification" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="CustomerIdentificationType" type="xs:string" minOccurs="1"
                                        maxOccurs="1"/>
                            <xs:element name="CustomerSubtype" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="CustomerType" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="DateOfBirth" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="EmailAddress" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="FamiliyName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="GivenName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="IsInformationRestricted" type="xs:boolean" minOccurs="1"
                                        maxOccurs="1"/>
                            <xs:element name="Language" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="MiddleNames" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="TelephoneNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="CustomerPostalAddress" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AddressNote" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="Apartment" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="BuildingNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="CountryCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="POBox" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="PostalCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="PostOffice" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="StairwellIdentification" type="xs:string" minOccurs="0"
                                                    maxOccurs="1"/>
                                        <xs:element name="StreetName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Agreements" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AgreementEndDate" type="xs:dateTime" minOccurs="0"
                                                    maxOccurs="1"/>
                                        <xs:element name="AgreementStartDate" type="xs:dateTime" minOccurs="1"
                                                    maxOccurs="1"/>
                                        <xs:element name="AgreementStatus" type="xs:string" minOccurs="1"
                                                    maxOccurs="1"/>
                                        <xs:element name="AgreementType" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="MeteringPoint" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MeteringPointEAN" type="xs:string" minOccurs="1"
                                                                maxOccurs="1"/>
                                                    <xs:element name="MeteringPointStatus" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="1"/>
                                                    <xs:element name="MeteringPointAddress">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="AddressNote" type="xs:string"
                                                                            minOccurs="0"
                                                                            maxOccurs="1"/>
                                                                <xs:element name="Apartment" type="xs:string"
                                                                            minOccurs="0"
                                                                            maxOccurs="1"/>
                                                                <xs:element name="BuildingNumber" type="xs:string"
                                                                            minOccurs="0"
                                                                            maxOccurs="1"/>
                                                                <xs:element name="CountryCode" type="xs:string"
                                                                            minOccurs="1"
                                                                            maxOccurs="1"/>
                                                                <xs:element name="Language" type="xs:string"
                                                                            minOccurs="1"
                                                                            maxOccurs="1"/>
                                                                <xs:element name="PostalCode" type="xs:string"
                                                                            minOccurs="1"
                                                                            maxOccurs="1"/>
                                                                <xs:element name="PostOffice" type="xs:string"
                                                                            minOccurs="1"
                                                                            maxOccurs="1"/>
                                                                <xs:element name="StairwellIdentification"
                                                                            type="xs:string"
                                                                            minOccurs="0" maxOccurs="1"/>
                                                                <xs:element name="StreetName" type="xs:string"
                                                                            minOccurs="0"
                                                                            maxOccurs="1"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
