cim/src/main/schemas/cim/xsd/v0_91_08/RedistributionTransactionRequest Document_Annotated.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ SPDX-FileCopyrightText: 2025-2026 The EDDIE Developers <eddie.developers@fh-hagenberg.at>
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<xs:schema xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:cimp="http://www.iec.ch/cimprofile" xmlns:TargetNamespace="https://eddie.energy/CIM/RTR"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="https://eddie.energy/CIM/RTR">
    <xs:element name="RTR_Envelope" type="TargetNamespace:RTR_Envelope"/>
    <xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTime">
        <xs:annotation>
            <xs:documentation>In ESMP, the dateTime shall be expressed in UTC as YYYY-MM-DDThh:mm:ssZ.
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">MessageDateTimeType
            </xs:documentation>
            <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern
                    value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#String">
        <xs:annotation>
            <xs:documentation>A code to uniquely distinguish one occurrence of an entity from another.

                In the ESMP context, the code is defined either by:
                - an emitting company that provides an agreed identification unique within a business context such as
                capacity auction identification, market agreement identification, etc.
                - a party (originator of the exchange) that provides a unique identification in the framework of a
                business exchange such as document identification, time series identification, bid identification, ...
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">IdentificationType
            </xs:documentation>
            <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTime">
        <xs:annotation>
            <xs:documentation>In ESMP, the date and time is expressed as "YYYY-MM-DDThh:mmZ", which conforms with ISO
                8601 UTC time zone. This date and time is without the seconds.
            </xs:documentation>
            <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ESMP_DateTimeInterval"
                    sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTimeInterval">
        <xs:annotation>
            <xs:documentation>This datatype enables to express the start date and time, and the end date and time of a
                time interval with a specific pattern. This pattern is the YYYY-MM-DDThh:mmZ.
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">TimeIntervalType
            </xs:documentation>
            <xs:documentation cimp:category="Stereotype" cimp:notes="Compound">Compound</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="start" type="TargetNamespace:YMDHM_DateTime"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTimeInterval.start">
                <xs:annotation>
                    <xs:documentation>The start date and time of the interval with a minute resolution.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="end" type="TargetNamespace:YMDHM_DateTime"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTimeInterval.end">
                <xs:annotation>
                    <xs:documentation>The end date and time of the interval with a minute resolution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RTR_Envelope" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Envelope">
        <xs:annotation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="Position">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
            </xs:documentation>
            <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
            </xs:documentation>
            <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.creationDateTime"
                        type="TargetNamespace:ESMP_DateTime"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MessageDocumentHeader.creationDateTime">
                <xs:annotation>
                    <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">0</xs:documentation>
                    <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.permissionId"
                        type="xs:string"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MetaInformation.permissionId">
                <xs:annotation>
                    <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">1</xs:documentation>
                    <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.region.connector"
                        type="xs:string"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Region.connector">
                <xs:annotation>
                    <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">2</xs:documentation>
                    <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="marketDocument.mRID" type="TargetNamespace:ID_String"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
                <xs:annotation>
                    <xs:documentation>The unique identification of the document being exchanged within a business
                        process flow.

                        In the ESMP context, the "model authority" is defined as a party (originator of the exchange)
                        that provides an identification in the context of a business exchange such as document
                        identification, ...

                        Master resource identifier issued by a model authority. The mRID is globally unique within an
                        exchange context.
                        Global uniqueness is easily achieved by using a UUID for the mRID. It is strongly recommended to
                        do this.
                        For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that
                        identify CIM object elements.
                    </xs:documentation>
                    <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">3</xs:documentation>
                    <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="marketDocument.period.timeInterval"
                        type="TargetNamespace:ESMP_DateTimeInterval"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Period.timeInterval">
                <xs:annotation>
                    <xs:documentation>The start and end date and time for a given interval.


                        ---

                        --- The time interval that is associated with an electronic document and which is valid for the
                        whole document.
                    </xs:documentation>
                    <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">4</xs:documentation>
                    <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>