cim/src/main/schemas/agnostic/xsd/all.xsd

<!-- SPDX-FileCopyrightText: 2024-2026 The EDDIE Developers <eddie.developers@fh-hagenberg.at> -->
<!-- SPDX-License-Identifier: Apache-2.0 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ns1="http://www.eddie.energy/agnostic"
           targetNamespace="http://www.eddie.energy/agnostic"
           elementFormDefault="qualified">
    <xs:element name="RawDataMessage" type="ns1:rawDataMessage"/>
    <xs:element name="ConnectionStatusMessage" type="ns1:connectionStatusMessage"/>
    <xs:element name="OpaqueEnvelope" type="ns1:opaqueEnvelope"/>
    <xs:element name="UpdateSchedule" type="ns1:updateSchedule"/>
    <xs:element name="SetTransmissionEnabled" type="ns1:setTransmissionEnabled"/>

    <!-- connection status message types -->
    <xs:complexType name="connectionStatusMessage">
        <xs:all>
            <xs:element type="xs:string" name="connectionId"/>
            <xs:element type="ns1:uuid" name="permissionId"/>
            <xs:element type="ns1:uuid" name="dataNeedId"/>
            <xs:element name="dataSourceInformation" type="ns1:dataSourceInformation"/>
            <xs:element type="xs:dateTime" name="timestamp"/>
            <xs:element type="ns1:status" name="status"/>
            <xs:element type="xs:string" name="message" minOccurs="0"/>
            <xs:element name="additionalInformation" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="status" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CREATED"/>
            <xs:enumeration value="VALIDATED"/>
            <xs:enumeration value="MALFORMED"/>
            <xs:enumeration value="UNABLE_TO_SEND"/>
            <xs:enumeration value="SENT_TO_PERMISSION_ADMINISTRATOR"/>
            <xs:enumeration value="TIMED_OUT"/>
            <xs:enumeration value="ACCEPTED"/>
            <xs:enumeration value="REJECTED"/>
            <xs:enumeration value="INVALID"/>
            <xs:enumeration value="REVOKED"/>
            <xs:enumeration value="TERMINATED"/>
            <xs:enumeration value="FULFILLED"/>
            <xs:enumeration value="UNFULFILLABLE"/>
            <xs:enumeration value="REQUIRES_EXTERNAL_TERMINATION"/>
            <xs:enumeration value="FAILED_TO_TERMINATE"/>
            <xs:enumeration value="EXTERNALLY_TERMINATED"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- raw data message types -->
    <xs:complexType name="rawDataMessage">
        <xs:all>
            <xs:element type="xs:string" name="connectionId"/>
            <xs:element type="ns1:uuid" name="permissionId"/>
            <xs:element type="ns1:uuid" name="dataNeedId"/>
            <xs:element name="dataSourceInformation" type="ns1:dataSourceInformation"/>
            <xs:element type="xs:dateTime" name="timestamp"/>
            <xs:element name="rawPayload" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <!-- opaque envelope types -->
    <xs:complexType name="opaqueEnvelope">
        <xs:all>
            <xs:element type="xs:string" name="regionConnectorId"/>
            <xs:element type="xs:string" name="connectionId"/>
            <xs:element type="ns1:uuid" name="permissionId"/>
            <xs:element type="ns1:uuid" name="dataNeedId"/>
            <xs:element type="ns1:uuid" name="messageId"/>
            <xs:element type="xs:dateTime" name="timestamp"/>
            <xs:element name="payload" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <!-- permission command types -->
    <xs:complexType name="updateSchedule">
        <xs:all>
            <xs:element type="ns1:permissionCommandAction" name="action"/>
            <xs:element type="xs:string" name="regionConnectorId"/>
            <xs:element type="ns1:uuid" name="permissionId"/>
            <xs:element type="xs:string" name="transmissionSchedule"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="setTransmissionEnabled">
        <xs:all>
            <xs:element type="ns1:permissionCommandAction" name="action"/>
            <xs:element type="xs:string" name="regionConnectorId"/>
            <xs:element type="ns1:uuid" name="permissionId"/>
            <xs:element type="xs:boolean" name="enabled"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="terminate">
        <xs:all>
            <xs:element type="ns1:permissionCommandAction" name="action"/>
            <xs:element type="xs:string" name="regionConnectorId"/>
            <xs:element type="ns1:uuid" name="permissionId"/>
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="permissionCommandAction" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UPDATE_SCHEDULE"/>
            <xs:enumeration value="SET_TRANSMISSION_ENABLED"/>
            <xs:enumeration value="TERMINATE"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- shared types -->
    <xs:simpleType name="uuid">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="dataSourceInformation">
        <xs:sequence>
            <xs:element type="xs:string" name="countryCode"/>
            <xs:element type="xs:string" name="meteredDataAdministratorId"/>
            <xs:element type="xs:string" name="permissionAdministratorId"/>
            <xs:element type="xs:string" name="regionConnectorId"/>
            <xs:any minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
