region-connectors/region-connector-at-eda/src/main/schemas/eda/xsd/CMNotification_01p20.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) von Illwerke VKW Aktiengesellschaft (illwerke vkw Aktiengesellschaft) bearbeitet -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ct="http://www.ebutilities.at/schemata/customerprocesses/common/types/01p20"
            xmlns:cp="http://www.ebutilities.at/schemata/customerconsent/cmnotification/01p20"
            targetNamespace="http://www.ebutilities.at/schemata/customerconsent/cmnotification/01p20"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.ebutilities.at/schemata/customerprocesses/common/types/01p20"
                schemaLocation="CPCommonTypes_01p20.xsd"/>
    <xsd:annotation>
        <xsd:documentation>
            schema version: 01.20
            autor: Reinhold Hansmann
            valid from: 2026-04
            changes: PortalApprovalURL, Supplier, Additional Data
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="CMNotification">
        <xsd:annotation>
            <xsd:documentation>Benachrichtigung</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MarketParticipantDirectory" type="cp:MarketParticipantDirectory"/>
                <xsd:element name="ProcessDirectory" type="cp:ProcessDirectory"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="MarketParticipantDirectory">
        <xsd:complexContent>
            <xsd:extension base="ct:MarketParticipantDirectory">
                <xsd:sequence>
                    <xsd:element name="MessageCode" type="ct:MessageCode">
                        <xsd:annotation>
                            <xsd:documentation>Marktnachricht ohne Enumerations</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="SchemaVersion" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="01.20"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ProcessDirectory">
        <xsd:complexContent>
            <xsd:extension base="ct:ProcessDirectoryS">
                <xsd:sequence>
                    <xsd:element name="CMRequestId" type="ct:GroupingId">
                        <xsd:annotation>
                            <xsd:documentation>Anfrage-ID</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ResponseData" type="cp:ResponseDataType" maxOccurs="1000"/>
                    <xsd:element name="CustomerData" type="cp:CustomerDataType" minOccurs="0"/>
                    <xsd:element name="PortalApprovalURL" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Link zur Freigabe am Portal</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="120"/>
                                <xsd:minLength value="1"/>
                                <xsd:whiteSpace value="collapse"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Supplier" type="ct:MessageAddress" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>aktueller Lieferant u.a. für FSP</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="AdditionalData" type="ct:AdditionalData" minOccurs="0" maxOccurs="1000"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ResponseDataType">
        <xsd:annotation>
            <xsd:documentation>Parameter für Historischen Versand</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ConsentId" type="ct:GroupingId" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zustimmungs-ID</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MeteringPoint" type="ct:MeteringPoint" minOccurs="0"/>
            <xsd:element name="ResponseCode" type="cp:ResponseCode" maxOccurs="1000"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CustomerDataType">
        <xsd:annotation>
            <xsd:documentation>Kundendaten</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Name1" type="cp:Name">
                <xsd:annotation>
                    <xsd:documentation>Name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Name2" type="cp:Name" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Name">
        <xsd:annotation>
            <xsd:documentation>Name</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120"/>
            <xsd:minLength value="1"/>
            <xsd:whiteSpace value="collapse"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ResponseCode">
        <xsd:annotation>
            <xsd:documentation>MessageCode innerhalb des Verfahrensschritts</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="999"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
