region-connectors/region-connector-at-eda/src/main/schemas/eda/xsd/CMRevoke_01p10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) von Illwerke VKW Aktiengesellschaft (illwerke vkw Aktiengesellschaft) bearbeitet -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ct="http://www.ebutilities.at/schemata/customerprocesses/common/types/01p20"
            xmlns:cp="http://www.ebutilities.at/schemata/customerconsent/cmrevoke/01p10"
            targetNamespace="http://www.ebutilities.at/schemata/customerconsent/cmrevoke/01p10"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.ebutilities.at/schemata/customerprocesses/common/types/01p20"
                schemaLocation="CPCommonTypes_01p20.xsd"/>
    <xsd:annotation>
        <xsd:documentation>
            schema version: 01.10
            autor: Reinhold Hansmann
            valid from: 2026-04
            Changes: Einführung ReasonKey
            Entfernung Enumeration in MessageCode
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="CMRevoke">
        <xsd:annotation>
            <xsd:documentation>Widerruf/Beendigung</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MarketParticipantDirectory" type="cp:MarketParticipantDirectory"/>
                <xsd:element name="ProcessDirectory" type="cp:ProcessDirectory"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="MarketParticipantDirectory">
        <xsd:complexContent>
            <xsd:extension base="ct:MarketParticipantDirectory">
                <xsd:sequence>
                    <xsd:element name="MessageCode">
                        <xsd:simpleType>
                            <xsd:restriction base="ct:MessageCode"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="SchemaVersion" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="01.10"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ProcessDirectory">
        <xsd:complexContent>
            <xsd:extension base="ct:ProcessDirectoryS">
                <xsd:sequence>
                    <xsd:element name="ConsentId" type="ct:GroupingId">
                        <xsd:annotation>
                            <xsd:documentation>Zustimmungs-ID</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MeteringPoint" type="ct:MeteringPoint"/>
                    <xsd:element name="ConsentEnd" type="xsd:date">
                        <xsd:annotation>
                            <xsd:documentation>Ende-Datum der Zustimmung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ReasonKey" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Grund der Bendigung codiert</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="1"/>
                                <xsd:enumeration value="2"/>
                                <xsd:enumeration value="0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Reason" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Grund der Beendigung für ReasonKey 0</xsd:documentation>
                        </xsd:annotation>
                        <!-- Custom addition, since docs do not match original schema, remove the simple type to get the original schema
                            - https://web.archive.org/web/20251020135205/https%3A%2F%2Fwww.ebutilities.at%2Fdocuments%2F2025%2F09%2FCMRevoke_01p10_Schemadoku.pdf
                            - https://web.archive.org/web/20251020135237/https%3A%2F%2Fwww.ebutilities.at%2Fschemata%2Fcustomerconsent%2Fcmrevoke%2F01p10%2FCMRevoke_01p10.xsd
                        -->
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
