cim/src/main/schemas/cim/xsd/v1_04/RealTimeData Document_v1.04.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:ecl="urn:entsoe.eu:wgedi:codelists:1.04" xmlns:cimp="http://www.iec.ch/cimprofile"
           xmlns:TargetNamespace="https://eddie.energy/CIM/RTD_v1.04" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="https://eddie.energy/CIM/RTD_v1.04">
    <xs:import schemaLocation="./urn-entsoe-eu-wgedi-codelists.xsd" namespace="urn:entsoe.eu:wgedi:codelists:1.04"/>
    <xs:element name="RTD_Envelope" type="TargetNamespace:RTD_Envelope"/>
    <xs:simpleType name="QuantityTypeKind"
                   sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#QuantityTypeKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation cimp:category="enumValue">TotalActiveEnergyConsumed_import_kWh</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation cimp:category="enumValue">TotalActiveEnergyProduced_export_kWh</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation cimp:category="enumValue">InstantaneousActivePowerConsumption_import__kW
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation cimp:category="enumValue">InstantaneousActivePowerGeneration_export_kW
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation cimp:category="enumValue">InstantaneousVoltage_V_on_phaseL1</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation cimp:category="enumValue">InstantaneousVoltage_V_on_phaseL2</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation cimp:category="enumValue">InstantaneousVoltage_V_on_phaseL3</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation cimp:category="enumValue">InstantaneousCurrent_A_on_phaseL1</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="8">
                <xs:annotation>
                    <xs:documentation cimp:category="enumValue">InstantaneousCurrent_A_on_phaseL2</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation cimp:category="enumValue">InstantaneousCurrent_A_on_phaseL3</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
                <xs:annotation>
                    <xs:documentation cimp:category="enumValue">PowerFactor</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Quality_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#String">
        <xs:restriction base="ecl:QualityTypeList"/>
    </xs:simpleType>
    <xs:complexType name="Quantity" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Quantity">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="quantity" type="xs:decimal"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Quantity.quantity">
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="type" type="TargetNamespace:QuantityTypeKind"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Quantity.type">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="quality" type="TargetNamespace:Quality_String"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Quantity.quality">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern
                    value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RTD_Envelope" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Envelope">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.creationDateTime"
                        type="TargetNamespace:ESMP_DateTime"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MessageDocumentHeader.creationDateTime">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.connectionId"
                        type="xs:string"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MetaInformation.connectionId">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.dataNeedId"
                        type="xs:string"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MetaInformation.dataNeedId">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.documentType"
                        type="xs:string"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MetaInformation.documentType">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.permissionId"
                        type="xs:string"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MetaInformation.permissionId">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.finalCustomerId"
                        type="xs:string"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MetaInformation.finalCustomerId">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.asset" type="xs:string"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MetaInformation.asset">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.dataSourceId"
                        type="xs:string"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MetaInformation.dataSourceId">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.region.connector"
                        type="xs:string"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Region.connector">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.region.country"
                        type="xs:string"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Region.country">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="MarketDocument" type="TargetNamespace:RTD_MarketDocument"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Envelope.MarketDocument">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#String">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RTD_MarketDocument"
                    sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MarketDocument">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="TargetNamespace:ID_String"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="createdDateTime" type="TargetNamespace:ESMP_DateTime"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Document.createdDateTime">
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="TimeSeries" type="TargetNamespace:TimeSeries"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MarketDocument.TimeSeries">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#String">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-9]([0-9]){0,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResourceID_String-base"
                   sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#String">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResourceID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#String">
        <xs:simpleContent>
            <xs:extension base="TargetNamespace:ResourceID_String-base">
                <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TimeSeries">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="version" type="TargetNamespace:ESMPVersion_String"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TimeSeries.version">
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="registeredResource.mRID"
                        type="TargetNamespace:ResourceID_String"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="dateAndOrTime.dateTime" type="xs:dateTime"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateAndOrTime.dateTime">
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Quantity" type="TargetNamespace:Quantity"
                        sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TimeSeries.Quantity">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>